.home-container {
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  animation: fadeIn 1s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-abt {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 1rem 1rem 1rem 0;
  cursor: pointer;
  width: fit-content;
}

.btn-abt:hover {
  background-color: #ff9000;
}

.tech-stacks {
  font-weight: 500;
}

.firstname {
  font-weight: 700;
  font-size: 60px;
  line-height: 71px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ff7e00;
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.social-icon {
  filter: invert(1);
}

.social-icon:hover {
  filter: invert(0.75);
}

.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #ff7e00, #000);
  animation: animateBackground 5s linear infinite;
  pointer-events: none;
  z-index: -1;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #ff7e00;
  color: #fff;
}

.btn-secondary {
  background-color: transparent !important;
  color: #ff7e00;
  border: 1px solid #ff7e00;
}

.btn-dorminant {
  background-color: transparent !important;
  color: #fff;
  border: 1px solid #fff;
}

.social-icons {
  display: flex;
  margin-top: 2rem;
  gap: 27px;
}

.social-icons a img {
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.2);
}

/* about section */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 90%;
  margin: 80px auto;
  background-color: #1c1e22;
  border: 1.5px solid #26292d;
  border-radius: 8px;
}

.about-section .content {
  width: 65%;
}

.about-section .img {
  width: 35%;
  border-radius: 8px;
}

/* __________________Mobile____________________ */

@media (max-width: 768px) {
  .home-container {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    margin: 0.5rem;
  }

  /* about section */
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 90%;
    margin: 70px 15px;
    background-color: #1c1e22;
    border: 1.5px solid #26292d;
    border-radius: 8px;
  }

  .about-section .content {
    width: 100%;
    padding-top: 40px;
  }

  .about-section .img {
    width: 100%;
    border-radius: 8px;
  }

  .about-section .img img {
    width: 350px;
    border-radius: 8px;
  }
}
