.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
}

button[type="submit"] {
  background-color: #ff6f00;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff9000;
}

textarea {
  resize: vertical;
}
