nav {
  box-shadow: 0 0 10px #0000001a;
  border-bottom: solid 1px #ffffff1a;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  width: 90%;
  margin: 0 auto;
}

li {
  margin: 0 10px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-weight: 100;
}

.logo {
  margin: 0;
}

.logo-link {
  display: flex;
  align-items: center;
}

.active {
  color: #ff6f00;
}

.menu-icon {
  display: none;
}

.menu-items-desktop {
  display: flex;
  align-items: center;
}

.menu-desktop {
  display: flex;
}

.resume-link {
  border: solid 1px #ff6f00;
  padding: 10px 20px;
  width: fit-content;
}

.resume-link:hover {
  background-color: #db9056;
  color: #000 !important;
  cursor: pointer;
}

/* Hover Effects */

ul li a:hover {
  color: #ff6f00;
}

.menu-items-desktop a:hover {
  color: #ff6f00;
}

@media only screen and (max-width: 768px) {
  .menu-items {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: #000;
    line-height: 2.3;
    height: 80vh;
  }

  /* .menu-items.show {
    display: flex;
    animation: none;
  } */
}

@media only screen and (max-width: 480px) {
  .logo {
    font-size: 24px;
    margin-left: -12px;
  }

  ul {
    justify-content: space-between;
  }

  li {
    margin: 5px 0;
  }

  .menu-icon {
    display: inline-block;
    z-index: 99;
    background-color: transparent;
    border: none;
    margin-right: -28px;
    cursor: pointer;
  }

  .menu-icon.open {
    transform: rotate(90deg);
  }

  .menu-desktop {
    display: none;
  }
}
