nav {
  /* padding: 20px; */
  box-shadow: 0 0 10px #0000001a;
  border-bottom: solid 1px #ffffff1a;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

li {
  margin: 0 10px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-weight: 100;
}

.logo {
  margin: 0;
}

.logo-link {
  display: flex;
  align-items: center;
}

.active {
  color: #ff6f00;
}

.menu-icon {
  display: none;
}

.menu-items-desktop {
  display: flex;
}

.menu-desktop {
  display: flex;
}

.resume-link {
  border: solid 1px #ff6f00;
  padding: 10px 20px;
}

.resume-link:hover {
  background-color: #ff6f00;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .menu-items {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: #171718;
    line-height: 2.3;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    font-size: 24px;
  }

  ul {
    justify-content: space-between;
  }

  li {
    margin: 5px 0;
  }

  .menu-icon {
    display: inline-block;
    z-index: 99;
    background-color: transparent;
    border: none;
  }

  .menu-desktop {
    display: none;
  }
}
