/* footer.css */
footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto;
}

footer div {
  margin-top: 40px;
}

h3,
h4 {
  margin: 0;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

hr {
  width: 100%;
  border: solid 0.5px #fff;
}

.copy-right {
  margin: 20px 0;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

/* Responsive styles */

@media only screen and (max-width: 768px) {
  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  .social-icons {
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  footer {
    padding: 10px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 20px;
  }

  a {
    margin-bottom: 4px;
  }

  .social-icons img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}
